// -----------------------------------------------------------------------------
//! Fonts
// -----------------------------------------------------------------------------

$font-main: 'Open Sans', Arial, Helvetica, Sans-serif;
$font-accent: 'colfax-web', Arial, Helvetica, Sans-serif;

$semibold: 600;
$medium: 500;


// -----------------------------------------------------------------------------
//! Colors
// -----------------------------------------------------------------------------

$color-dark: #333;
$color-light: #3C3C3C;

$color-purple: #AB5389;
$color-orange: #E06B38;
$color-green: #01A4B0;
$color-blue: #2D3C94;
$color-red: #EE6F7B;
$color-yellow: #F2BB7C;
$color-lavender: #BDBDCE;
$color-border: #EBEBEB;

// -----------------------------------------------------------------------------
//! Z-indexes
// -----------------------------------------------------------------------------

$z_index-level6: 120;
$z_index-level5: 100;
$z_index-level4: 75;
$z_index-level3: 50;
$z_index-level2: 25;
$z_index-level1: 1;
$z_index-level0: -1;

// -----------------------------------------------------------------------------
//! Global Breakpoints
// -----------------------------------------------------------------------------

$bp-nav: 1000px;

$bp-padding: 768px;

$bp-text: 768px;