

.blog {
	padding: 200px 0;
}

.blog-grid {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(3, minmax(0, 1fr));
}

.blog-box {
	background: #eee;
	overflow: hidden;
	border-radius: 5px;
}

.blog-box-image {
	height: 200px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #ddd;
}

.blog-box-text {
	padding: 24px;
}

.blog-box-title {
	font-size: 20px;
	font-weight: bold;
	margin: 0 0 8px 0;
	color: #333;
}

.blog-box-excerpt {
	color: #333;
	font-size: 16px;
	line-height: 1.5;
}

.blog-box:hover {
	text-decoration: none;
	.blog-box-title {
		color: blue;
	}
}

.blog-box-cat {
	color: #333;
	margin: 8px 0;
}