.subhero {
	padding: 140px 0;
}

.subhero-grid {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 20px;
}

.subhero-grid-box {
	padding: 30px;
	background: #eee;
}

.btn {
	background: blue;
	color: #fff;
	padding: 10px 20px;
	display: inline-block;
}