@import url("https://use.typekit.net/ysv6pvx.css");
@import url("https:/fast.fonts.net/t/1.css?apiType=css&projectid=cbadfcca-0022-4bf7-8d3f-7009a4a4de70");

@font-face{
    font-family:"Avenir";
    src:url("../fonts/b290e775-e0f9-4980-914b-a4c32a5e3e36.woff2") format("woff2"),
    	url("../fonts/4b978f72-bb48-46c3-909a-2a8cd2f8819c.woff") format("woff");
    font-weight: 400;
    font-display: swap;
}
@font-face{
    font-family:"Avenir";
    src:url("../fonts/17b90ef5-b63f-457b-a981-503bb7afe3c0.woff2") format("woff2"),
    	url("../fonts/c9aeeabd-dd65-491d-b4be-3e0db9ae47a0.woff") format("woff");
    font-weight: 500;
    font-display: swap;
}
@font-face{
    font-family:"Helvetica Neue";
    src:url("../fonts/f9c5199e-a996-4c08-9042-1eb845bb7495.woff2") format("woff2"),
    	url("../fonts/2a34f1f8-d701-4949-b12d-133c1c2636eb.woff") format("woff");
    font-weight: 300;
    font-display: swap;
}
@font-face{
    font-family:"Helvetica Neue";
    src:url("../fonts/5e4f385b-17ff-4d27-a63a-9ee28546c9a8.woff2") format("woff2"),
    	url("../fonts/116cde47-4a07-44a5-9fac-cbdcc1f14f79.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face{
    font-family:"Helvetica Neue";
    src:url("../fonts/08b57253-2e0d-4c12-9c57-107f6c67bc49.woff2") format("woff2"),
    	url("../fonts/08edde9d-c27b-4731-a27f-d6cd9b01cd06.woff") format("woff");
    font-weight: 400;
    font-display: swap;
}
@font-face{
    font-family:"Helvetica Neue";
    src:url("../fonts/4bd56f95-e7ab-4a32-91fd-b8704cbd38bc.woff2") format("woff2"),
    	url("../fonts/4fe1c328-1f21-434a-8f0d-5e0cf6c70dfb.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face{
    font-family:"Helvetica Neue";
    src:url("../fonts/800da3b0-675f-465f-892d-d76cecbdd5b1.woff2") format("woff2"),
    	url("../fonts/7b415a05-784a-4a4c-8c94-67e9288312f5.woff") format("woff");
    font-weight: 700;
    font-display: swap;
}
@font-face{
    font-family:"Helvetica Neue";
    src:url("../fonts/13ab58b4-b5ba-4c95-afde-ab2608fbbbd9.woff2") format("woff2"),
    	url("../fonts/5018b5b5-c821-4653-bc74-d0b11d735f1a.woff") format("woff");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
