// -----------------------------------------------------------------------------
//! GENERAL
// -----------------------------------------------------------------------------

html {
	height: 100%;
	background:#fff;
	overflow-x: hidden;
}

body {
	position: relative;
	min-height: 100%;
	overflow-x: hidden;
	height:100%;
}

.container {
	margin:0 auto;
	padding:0 20px;
	max-width: 1200px;
	@include respond($bp-padding) {
		padding:0 60px;
	}	
}
