// -----------------------------------------------------------------------------
//! RESET
// -----------------------------------------------------------------------------

	html, body,
	header, footer,
	h1, h2, h3, h4, h5, h6, hr, p,
	ul, ol, li, img,
	fieldset, input, textarea, select { 
		margin: 0; 
		padding: 0; 
	}
	
	html, body { 
		min-height: 100%; 
	}
	
	body {
		-webkit-text-size-adjust: none; 
	}
	
	main, article, section, aside {
		display: block;
	}
		
	// Ditch the borders
	a img, button, input, textarea, iframe { 
		border: 0; 
	}
	
	// Images and Embeds
	img, object, embed { 
		max-width: 100%; 
		height: auto; 
	}
	img { 
		-ms-interpolation-mode: bicubic; 
	}
	
	// Border-box all of the things
	html { 
		box-sizing: border-box; 
		
		* {
			box-sizing: inherit;
		}
		
		:before,
		:after {
			box-sizing: inherit;
		}
	}
	