// -----------------------------------------------------------------------------
//! SIZING
// -----------------------------------------------------------------------------

	html {
		font-size: 62.5%;
	}
	body {
		font-size: 1.6rem;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-variant-ligatures: common-ligatures;
		font-family: $font-main;
		color: $color-light;
	}

// -----------------------------------------------------------------------------
//! HEADINGS
// -----------------------------------------------------------------------------


	h1, h2, h3, h4, h5, h6 {
		font-family: $font-accent;
		font-weight: $medium;
		line-height: 1;
		margin:1em 0;
		&:first-child {
			margin-top: 0;
		}
	}
	
	h2 {
		color: $color-blue;
		font-size: 2.4rem;
		line-height: calc(32/24);
		@include respond($bp-text) {
			font-size: 3.2rem;
			line-height: calc(38/32);
		}
	}
	
	h3 {
		color: $color-blue;
		font-size: 2rem;
		line-height: calc(24/20);
		@include respond($bp-text) {
			font-size: 2.4rem;
			line-height: calc(32/24);
		}
	}
	
	h4 {
		color: $color-blue;
		font-size: 1.8rem;
		line-height: calc(22/18);
		@include respond($bp-text) {
			font-size: 2rem;
			line-height: calc(24/20);
		}
	}
	
	h5 {
		color: $color-blue;
		font-size: 1.6rem;
		line-height: calc(20/16);
		@include respond($bp-text) {
			font-size: 1.8rem;
			line-height: calc(22/18);
		}
	}
	
	.section-title {
		font-size: 2.4rem;
		line-height: calc(30/24);
		color: $color-blue;
		font-weight: $medium;
		margin:0 0 24px 0;
		@include respond($bp-text) {
			font-size: 3.2rem;
			line-height: calc(38/32);
			margin:0 0 40px 0;
		}
	}
// -----------------------------------------------------------------------------
//! COPY
// -----------------------------------------------------------------------------

	p {
		font-size: 1.6rem;
		line-height: calc(26/16);
		margin:0 0 25px 0;
		@include respond($bp-text) {
			font-size: 1.7rem;
			line-height: calc(30/17);	
		}
		&:last-of-type {
			margin:0;
		}
	}

	strong,
	b {
		font-weight: $semibold;	
	}
	
	ul,
	ol {
		margin: 1em 0;
		padding:0;
		&:first-child {
			margin-top:0;
		}
		&:last-child {
			margin-bottom:0;
		}
	}
	
	li {
		font-size: 1.6rem;
		line-height: calc(26/16);		
		margin:0 0 12px 0;
	}
	
	ul li {
		list-style: none;
		padding:0 0 0 20px;
		position: relative;
		@include respond($bp-text) {
			padding:0 0 0 30px;			
		}
		&:before {
			content:"";
			position: absolute;
			left:0;
			top:11px;
			width:6px;
			height:6px;
			border-radius: 50%;
		}
	}
	
	body.theme-green ul li:before {
		background-color: $color-green;
	}

	body.theme-orange ul li:before {
		background-color: $color-orange;
	}

	body.theme-purple ul li:before {
		background-color: $color-purple;
	}

	
	blockquote {
		
	}
	
	a {
		color: $color-green;
		text-decoration: none;
		transition: color 0.4s ease;
		font-weight: $semibold;
		&:hover {
			text-decoration: underline;
		}
	}

	svg * {
		transition: fill 0.4s ease;
	}
	
	
	.wp-caption {
		max-width: 100%;
		height:auto;
		margin:48px auto;
	}

	.wp-caption-text {
		padding:0;
		margin:0;
		display: block;
		font-size:1.2rem;
		line-height: 1.5;
		margin:16px 0 0 0;

        @include respond($bp-text) {
			font-size:1.4rem;
			line-height: calc(28/14);
		}
		a {
			font-family: inherit;
			font-style: inherit;
			font-weight: inherit;
		}
	}

	.alignleft {
		margin:1em auto;
		display: block;
		&:first-child {
			margin-top:0;
		}
		@include respond(400px) {
			float: left;
			margin: 0 2rem 2rem 0;			
		}
		@include respond($bp-padding) {
			margin: 0 5rem 3rem 0;
		}
	}

	.alignright {
		margin:1em auto;
		display: block;
		&:first-child {
			margin-top:0;
		}
		@include respond(400px) {
			float: right;
			margin: 0 0 2rem 2rem;
		}
		@include respond($bp-padding) {
			margin: 0 0 5rem 3rem;
		}
	}

	.aligncenter {
		margin: 1.6rem auto;
		display: block;
	}

	.alignleft,
	.alignright {
		max-width: 50%;
	}
	